.hello {
    color: red;
    background: url('./icon.jpg') no-repeat;
}

.box {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
}

.box .box-item {
    width: 100px;
    height: 200px;
    background-color: deeppink;
}

